{% if meta.author.name or meta.date %}
  <div class="o-meta{{ meta.classes ? ' ' ~ meta.classes }}">
    {% if meta.image.src %}
      {% if meta.author.link %}
        <a href="{{ meta.author.link }}" class="o-meta__image-link">
      {% endif %}
        <div class="o-meta__image">
          {% include "@atoms/images/image/responsive-image.twig" with meta %}
        </div>
      {% if meta.author.link %}
        </a>
      {% endif %}
    {% endif %}
    {% if meta.author %}
      {% if meta.author.link %}
        <a href="{{ meta.author.link }}" class="o-meta__link">
      {% endif %}
      {% if meta.author.name %}
        <span itemprop="author" itemtype="https://schema.org/Person" class="o-meta__author" >
          <strong>{{ meta.author.name }}</strong>
        </span>
      {% endif %}
      {% if meta.author.link %}
        </a>
      {% endif %}
    {% endif %}
    {% if meta.date %}
      <time datetime="o-meta__date" >{{ meta.date|date('m.d.y') }}</time>
    {% endif %}
  </div>
{% endif %}
