{% if button.url or button.text or button.icon %}
  {% set button_tag = 'button' %}
  {% if button.url %}
    {% set button_tag = 'a' %}
  {% endif %}
  {% set button_base_class = button.variant == 'bare' ? 'o-button--bare' : 'o-button' %}

  <{{ button_tag }} role="button" class="{{ button_base_class }}{{  button.classes ? ' ' ~ button.classes }}" {{ button.url ? 'href="' ~ button.url ~ '"' }}{{ button.target == '_blank' ? ' target="_blank" rel="noreferrer"' }}{{ button.aria-label ? ' aria-label="' ~ button.aria-label ~ '"' }}{{ button.attributes ? ' ' ~ button.attributes }}>
    {% if button.icon %}
      {% include "@atoms/images/icons/icon.twig" with button %}
    {% endif %}
    {% if button.title %}
      <span>{{ button.title }}</span>
    {% endif %}
    {% if button.variant != 'bare' %}
      {% include "@atoms/images/icons/icon.twig" with {
        "icon": {
          "name": "arrow",
          "classes": "o-icon--sm"
        }
      } %}
    {% endif %}
  </{{ button_tag }}>
{% endif %}
