<article class="c-content-single{{ content.classes ? ' ' ~ content.classes }} u-spacing--double">
  <section{{ content.anchor ? ' id="' ~ content.anchor ~ '"'}} class="c-content{{ content.classes ? ' ' ~ content.classes }} l-container--full">
    <div class="c-content__container l-container" data-bp="grid">
      <div class="c-content__sidebar u-background-color--black u-hide-until--md" data-bp="4@md 3@lg">
        {% include "@atoms/images/logos/logo.twig" with {
          "logo": {
            "image": {
              "src": theme.link ~ '/resources/images/logo.svg',
              "alt": site.name,
            },
            "link": site.link,
            "classes": "c-content__logo"
          }
        } %}
      </div>
      <div class="c-content__wrap l-wrap l-wrap--inner u-spacing" data-bp="8@md offset-5@xl 9@lg">
        {% include "@organisms/sections/headers/page-header.twig" with {
          "page_header": {
            "title": post.title,
            "classes": "c-content__header"
          }
        } %}
        {% if password_protected %}
          <p>This content is password protected. To view it, please enter your password below:</p>
          <form action="{{ site.link }}/wp-login.php?action=postpass" class="post-password-form o-form--inline" method="post">
            <input placeholder="Enter password" name="post_password" id="pwbox-{{ post.id }}" type="password" spellcheck="false" size="20"/>
            <button class="o-button" type="submit" name="Submit" value="Submit">Submit</button>
          </form>
        {% else %}
          {% include "@atoms/text/rich-text/rich-text.twig" with {
            "rich_text": {
              "text": post.content,
              "classes": "c-content__body l-container--m"
            }
          } %}
        {% endif %}
      </div>
    </div>
  </section>
</article>
