{% if heading.level and heading.text %}
  <h{{ heading.level }} class="o-heading{{ heading.size ? ' o-heading--' ~ heading.size }}{{ heading.classes ? ' ' ~ heading.classes }}">
    {% if heading.link %}
      <a class="o-heading__link" href="{{ heading.link.url }}">
        {{ heading.text }}
      </a>
    {% else %}
      {{ heading.text }}
    {% endif %}
  </h{{ heading.level }}>
{% endif %}
